.nav_column__container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.user_navigate{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    &__logo{
        
        border-radius: 8px;
        margin-left: 12px;
        width: auto;
        height: 100%;
    }
    &__name{
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-grow: 1;
        p{
            margin: 0;
        }
        &--gray{
            color: rgb(96, 94, 91);
        }
        &--black{
            color: black;
        }
    }
}