.select {

    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    background-color: bisque;


    &__container {
        position: relative;
        width: 100%;
    }

    &__newfolder::be {
        color: aqua;
        padding: 4px;
    }
}

.select-options {
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding: 12px;
    visibility: hidden;
    transition: top 0.2s;

    position: absolute;
    top: calc(-200%);

    &--show {
        visibility: visible;
        top: calc(100%);
    }

    &--unshow {
        
        top: calc(-200%);
    }



}

.select-option {
    &__new {
        border-bottom: 2px solid black;
        padding: 4px 0;
        margin-bottom: 4px;
    }

    &__upload {
        padding: 4px 0;
    }
}