.message_request{
    &__container{
 
    height: 100px;
    display: flex;
    align-items: center;
    height: 5%;
    gap: 10px;
    padding: 16px 12px 32px 12px;
    }

    &__content{
        flex-grow: 11;
        border: 1px solid black;
        border-radius: 12px;
        display: flex;
        padding: 8px;
        gap: 8px;
        input{
            flex-grow: 10;
            border: none;
            outline: none;
            font-size: larger;
        }
    }
    &__clean{

    }
}
