.file_page_header__container{
    height: 48px;
}
/* Mobile devices (dưới 768px) */
@media (max-width: 768px) {
    .file_page_header {

        &__container {
            // background-color: red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;
            
        }

        &__logo {
            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            gap: 12px;
            p{
                margin: 0;
                font-size: 18px;
            }
            &--none{
                display: none;
            }
        }
        &__search{
            display: none;
            &--block{
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
        &__search_input{
            width: 80%;
        }
        &__search_icon{
            display: flex;
            align-items: center;
        }
        &__search_icon--none{
            display:none;
        }
        &__menu{
            display: flex;
            justify-content: start;
        }
        

    }
}

/* Tablet devices (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .file_page_header {

        &__container {
           
            display: flex;
            align-items: center;
            padding: 4px;
            
        }

        &__logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            gap: 12px;
            p{
                margin: 0;
                flex-grow: 1;
                font-size: 28px;
            }
        }
        &__search{
            flex-grow: 1;
            display: flex;
            justify-content: end;
            
        }
        &__search_input{
            width: 80%;
        }
        &__menu{
            display: none;
        }
        &__search_icon{
            display: none;
        }
    }
}

/* Desktop devices (trên 1024px) */
@media (min-width: 1024px) {
    .file_page_header {

        &__container {
        
            display: flex;
            align-items: center;
            padding: 4px;
            
        }

        &__logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            gap: 12px;
            p{
                margin: 0;
                flex-grow: 1;
                font-size: 28px;
            }
        }
        &__search{
            flex-grow: 1;
            display: flex;
            justify-content: center;
            
        }
        &__search_input{
            width: 60%;
        }
        &__menu{
            display: none;
        }
        &__search_icon{
            display: none;
        }
    }
}

