.search_input__container{
   
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: #E7E3E0;
    input {
        border: none;
        outline: none;
        font-size: 18px;
        flex-grow: 1;
        background-color: transparent;
    }
    img{
        height: 100%;
        width: auto;
    }
}